body p{
    color: rgb(29, 101, 119);
    margin-top: 12px;
    margin-left: 20px;
}

.media-body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

h6{
    margin-top: 12px;
    margin-left: 20px;
}

.media{
    background: linear-gradient(rgba(247, 228, 228, 0.5), rgba(250, 250, 250, 0.5)100%);
}